# 5. Tuple in Python

 * Tuples are immutable lists and connot be changed in any way once it is created.
 
     * Tuples are defined in the same way as lists.
     * They are enclosed within parenthesis() and not within square braces[].
     * Tuples are ordered, indexed collections of data.
     * Similar to string indices, the first value in the tuple will have the index[0] the second value
     is [1].
     * Negative indices are counted from the end of the tuple, just like list.
     * Tuple also has the same structure where commas seperated the values.
     * Tuples can store duplicate values.
     * Tuples allow you to store several data items including string, integer, float in one variable.

In [1]:
tuple_1=('Hello','Python',3.14,1.618,True, False,32,{1,2,3},[1,2,3],{'A':2,'B':5},(0,1))
print(tuple_1)

('Hello', 'Python', 3.14, 1.618, True, False, 32, {1, 2, 3}, [1, 2, 3], {'A': 2, 'B': 5}, (0, 1))

In [2]:
print(len(tuple_1))

11

In [7]:
# Accessed by positive indexed
print(tuple_1[0])
print(tuple_1[1])
print(tuple_1[2])
print(tuple_1[3])
print(tuple_1[4])
print(tuple_1[5])
print(tuple_1[6])
print(tuple_1[7])
print(tuple_1[8])
print(tuple_1[9])
print(tuple_1[10])

Hello
Python
3.14
1.618
True
False
32
{1, 2, 3}
[1, 2, 3]
{'A': 2, 'B': 5}
(0, 1)

In [12]:
# Accessed by Negative indexed
print(tuple_1[-1])
print(tuple_1[-2])
print(tuple_1[-3])
print(tuple_1[-4])
print(tuple_1[-5])
print(tuple_1[-6])
print(tuple_1[-7])
print(tuple_1[-8])
print(tuple_1[-9])
print(tuple_1[-10])
print(tuple_1[-11])

(0, 1)
{'A': 2, 'B': 5}
[1, 2, 3]
{1, 2, 3}
32
False
True
1.618
3.14
Python
Hello

In [30]:
tuple_1=('Hello','Python',3.14,1.618,True, False,32,{1,2,3},[1,2,3],{'A':2,'B':5},(0,1))
print(type(tuple_1[0]))
print(type(tuple_1[1]))
print(type(tuple_1[2]))
print(type(tuple_1[3]))
print(type(tuple_1[4]))
print(type(tuple_1[5]))
print(type(tuple_1[6]))
print(type(tuple_1[7]))
print(type(tuple_1[8]))
print(type(tuple_1[9]))
print(type(tuple_1[10]))

<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'int'>
<class 'set'>
<class 'list'>
<class 'dict'>
<class 'tuple'>

# Concatenation of tuples

    To Concatenate tuple,+ sign is used.

In [31]:
tuple_2=tuple_1+('hello world',2023)
tuple_2

('Hello',
 'Python',
 3.14,
 1.618,
 True,
 False,
 32,
 {1, 2, 3},
 [1, 2, 3],
 {'A': 2, 'B': 5},
 (0, 1),
 'hello world',
 2023)

# Repetation of tuple
 It repeats the tuple items.

In [33]:
rep_tup=(1,2,3,4)
rep_tup*2

(1, 2, 3, 4, 1, 2, 3, 4)

In [34]:
rep_tup=('Jayshree')
rep_tup*3

'JayshreeJayshreeJayshree'

# Membership

In [38]:
rep_tup=(1,2,3,4)
print(2 in rep_tup)
print(2 not in rep_tup)
print(10 in rep_tup)

True
False
False

# min() function
# max() function

In [40]:
print(min(rep_tup))
print(max(rep_tup))

1
4

# tup(seq) function

It converts a specific sequence to a tuple

In [41]:
seq='ATFCGABZXY'
tuple(seq)

('A', 'T', 'F', 'C', 'G', 'A', 'B', 'Z', 'X', 'Y')

# Slicing
 To obtain a new tuple form the current tuple, the slicing method is used.

In [44]:
tuple_1=('Hello','Python',3.14,1.618,True, False,32,{1,2,3},[1,2,3],{'A':2,'B':5},(0,1))

print(tuple_1[2:7])
print(tuple_1[-4:-1])

(3.14, 1.618, True, False, 32)
({1, 2, 3}, [1, 2, 3], {'A': 2, 'B': 5})

# len() function

    To obtain how many elements there are in the tuple, use len() function.

In [46]:
print(len(tuple_1))
print(len(tuple_2))

11
13