# 5. Sets in Python

 * Set is one of 4 build-in data type in python used to store collection of data including List, Tuple, and Dictionary.
 * Sets are unordered, but you can remove items and add new items.
 * Sets elements are unique. Duplicate elements are not allowed.
 * A set itself may be modified, but the elements contained in the set must be of an immutable type.
 * Sets are used to store multiple items in a single variable.
 * You can denote a set with a pair of curly brackets{}.

In [1]:
# The empty set of curly braces denotes the empty dictionary, not empty set.

x={}
print(type(x))

<class 'dict'>

In [2]:
#To take a set without elements, use set() function without any item.
x=set()
print(type(x))

<class 'set'>

In [4]:
set1={'Hello World',3.14,2023,'Hello Python',3.14,2023,True, False,2023}
print(set1)
print(type(set1))

{False, 'Hello Python', True, 3.14, 2023, 'Hello World'}
<class 'set'>

# Converting list to set

In [7]:
# A list can convert to a set
# Take a list.
list1=['Hello World',3.14,2023,'Hello Python',3.14,2023,True, False,2023]
print(list1)
print(type(list1))


set2=set(list1)
print(set2)
print(type(set2))

['Hello World', 3.14, 2023, 'Hello Python', 3.14, 2023, True, False, 2023]
<class 'list'>
{False, 'Hello Python', True, 3.14, 2023, 'Hello World'}
<class 'set'>

# Set operations

In [14]:
# Take a set
set3=set(['Hello World',3.14,2023,'Hello Python',3.14,2023,True, False,2023])
set3

{2023, 3.14, False, 'Hello Python', 'Hello World', True}

# add() function

 * To add the elemets to a set, we use the function add(), If the same element is added to the set, nothing happen because the set accepts no duplicates.

In [21]:
# Adding of an element to a set.

print(set3)
set3.add('Jayshri')
print(set3)
set3.add('Jasmeen')
print(set3)
set3.add(3)
print(set3)

{False, 'Hello Python', True, 3.14, 3, 'Jayshri', 2023, 'Hello World', 'Jasmeen'}
{False, 'Hello Python', True, 3.14, 3, 'Jayshri', 2023, 'Hello World', 'Jasmeen'}
{False, 'Hello Python', True, 3.14, 3, 'Jayshri', 2023, 'Hello World', 'Jasmeen'}
{False, 'Hello Python', True, 3.14, 3, 'Jayshri', 2023, 'Hello World', 'Jasmeen'}

# update() function

 * To add multiple elements into the set.

In [18]:
x_set={6,7,8,9}
print(x_set)
x_set.update({3,4,5,6})
print(x_set)

{8, 9, 6, 7}
{3, 4, 5, 6, 7, 8, 9}

# remove() function

 * To remove an element from the set.

In [23]:
print(set3)
set3.remove('Jayshri')
print(set3)

{False, 'Hello Python', True, 3.14, 3, 'Jayshri', 2023, 'Hello World', 'Jasmeen'}
{False, 'Hello Python', True, 3.14, 3, 2023, 'Hello World', 'Jasmeen'}

# discard() function

 * It leaves the set unchanged if the element to be deleted is not available.

In [24]:
set3.discard(3.14)
print(set3)

{False, 'Hello Python', True, 3, 2023, 'Hello World', 'Jasmeen'}

In [30]:
# To verify if the element is in the set.

print(1.618 in set3)
print('Jayshri' in set3)
print('Jasmeen' in set3)

False
False
True

# Logic operation in Set

In [37]:
# Take two sets

set4=set(['Hello World',3.14,1.618,'Hello Python'])
set5={3.14,2023,1.618, True, False}

set4,set5

({1.618, 3.14, 'Hello Python', 'Hello World'},
 {False, True, 1.618, 3.14, 2023})

# To find the intersect of two set using &

In [35]:
intersect=set4&set5
intersect

{1.618, 3.14}

In [38]:
# other method to find the intersction of two sets, use intersection() function.

set4.intersection(set5)

{1.618, 3.14}

# difference() function.

 * To find the difference between two sets.

In [41]:
print(set4.difference(set5))  #(A-B)
print(set5.difference(set4))  #(B-A)



# The same process can make using subtraction operators are as follows:

print(set4-set5)
print(set5-set4)

{'Hello Python', 'Hello World'}
{False, True, 2023}
{'Hello Python', 'Hello World'}
{False, True, 2023}

# union() function

 *  It corresponds all the elements in both sets.

In [42]:
set4.union(set5)

{1.618, 2023, 3.14, False, 'Hello Python', 'Hello World', True}

# min(), max(), sum() functions.

In [7]:
a=[1,1,2,2,3,3,3,4,5,5,6]   # Take a list
b={1,1,2,2,3,3,3,4,5,5,6}   # Take a set

print('The maximum number of a is:',max(a))
print('The maximum number of b is:', max(b))
print('The minimum number of a is:',min(a))
print('The minimum number of b is:',min(b))
print('The sum of a is:',sum(a))
print('The sum of b is:',sum(b))

# you see that the sum of a and b is different. Because the set takes no duplicates.

The maximum number of a is: 6
The maximum number of b is: 6
The minimum number of a is: 1
The minimum number of b is: 1
The sum of a is: 35
The sum of b is: 21

# No mutable sequence in a set.

A set can not have mutable elements such as list or dictionary in it. If any, it returns error as follows:

In [11]:
set6={'Python',1,2,3,[5,6]}
print(set6)

TypeError: unhashable type: 'list'

# index() function

This function does not work in set, since the set is unordered collection.

In [13]:
set7={1,2,3,4}
set7[1]

TypeError: 'set' object is not subscriptable

# copy the set

In [24]:
set8={1,4,8,9}
print(set8)
set9=set8
print(set9)
set8.add(11)
print(set8)
print(set9)

'''
As you see that although the number 11 is added into the set 'set8', the added number is 
also added into the set 'set9'.
'''

{8, 1, 4, 9}
{8, 1, 4, 9}
{1, 4, 8, 9, 11}
{1, 4, 8, 9, 11}

"\nAs you see that although the number 11 is added into the set 'set8', the added number is \nalso added into the set 'set9'.\n"

# copy() function

It returns a shallow copyt of the original set.

In [23]:
set10={1,2,3,4,5,6}
print(set10)
set11=set10.copy()
print(set11)
set10.add(15)
print(set10)
print(set11)

'''
When this function is used, the original set stays unmodified.
A new copy stored in another set of memory locations is created.
The change made in one copy won't reflect in another.
'''

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 15}
{1, 2, 3, 4, 5, 6}

"\nWhen this function is used, the original set stays unmodified.\nA new copy stored in another set of memory locations is created.\nThe change made in one copy won't reflect in another.\n"

# clear() function

It removes all the elements in the set and then do the set empty.

In [26]:
x={0,1,2,3,4,5,6,7,8,9,10}
print(x)
x.clear()
print(x)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set()

# pop() function.

It removes and returns an arbitrary set element.

In [29]:
x={0,1,2,3,4,5,6,7,8,9,10}
print(x)
x.pop()
print(x)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# symmetric_difference

In [30]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'google', 'microsoft', 'banana', 'cherry'}

In [31]:
x={10,20,30,40,50}
y={60,70,80,20,30,10}

x.symmetric_difference(y)

{40, 50, 60, 70, 80}

# remove() function

In [33]:
xy={1,2,3,4,5,6,'Jayshree'}
print(xy)

xy.remove('Jayshree')
print(xy)

{1, 2, 3, 4, 5, 6, 'Jayshree'}
{1, 2, 3, 4, 5, 6}