# 5. Sets in Python

 * Set is one of 4 build-in data type in python used to store collection of data including List, Tuple, and Dictionary.
 * Sets are unordered, but you can remove items and add new items.
 * Sets elements are unique. Duplicate elements are not allowed.
 * A set itself may be modified, but the elements contained in the set must be of an immutable type.
 * Sets are used to store multiple items in a single variable.
 * You can denote a set with a pair of curly brackets{}.

In [1]:
# The empty set of curly braces denotes the empty dictionary, not empty set.

x={}
print(type(x))

<class 'dict'>

In [2]:
#To take a set without elements, use set() function without any item.
x=set()
print(type(x))

<class 'set'>

In [4]:
set1={'Hello World',3.14,2023,'Hello Python',3.14,2023,True, False,2023}
print(set1)
print(type(set1))

{False, 'Hello Python', True, 3.14, 2023, 'Hello World'}
<class 'set'>

# Converting list to set

In [7]:
# A list can convert to a set
# Take a list.
list1=['Hello World',3.14,2023,'Hello Python',3.14,2023,True, False,2023]
print(list1)
print(type(list1))


set2=set(list1)
print(set2)
print(type(set2))

['Hello World', 3.14, 2023, 'Hello Python', 3.14, 2023, True, False, 2023]
<class 'list'>
{False, 'Hello Python', True, 3.14, 2023, 'Hello World'}
<class 'set'>

# Set operations

In [14]:
# Take a set
set3=set(['Hello World',3.14,2023,'Hello Python',3.14,2023,True, False,2023])
set3

{2023, 3.14, False, 'Hello Python', 'Hello World', True}

# add() function

 * To add the elemets to a set, we use the function add(), If the same element is added to the set, nothing happen because the set accepts no duplicates.

In [21]:
# Adding of an element to a set.

print(set3)
set3.add('Jayshri')
print(set3)
set3.add('Jasmeen')
print(set3)
set3.add(3)
print(set3)

{False, 'Hello Python', True, 3.14, 3, 'Jayshri', 2023, 'Hello World', 'Jasmeen'}
{False, 'Hello Python', True, 3.14, 3, 'Jayshri', 2023, 'Hello World', 'Jasmeen'}
{False, 'Hello Python', True, 3.14, 3, 'Jayshri', 2023, 'Hello World', 'Jasmeen'}
{False, 'Hello Python', True, 3.14, 3, 'Jayshri', 2023, 'Hello World', 'Jasmeen'}

# update() function

 * To add multiple elements into the set.

In [18]:
x_set={6,7,8,9}
print(x_set)
x_set.update({3,4,5,6})
print(x_set)

{8, 9, 6, 7}
{3, 4, 5, 6, 7, 8, 9}

# remove() function

 * To remove an element from the set.

In [23]:
print(set3)
set3.remove('Jayshri')
print(set3)

{False, 'Hello Python', True, 3.14, 3, 'Jayshri', 2023, 'Hello World', 'Jasmeen'}
{False, 'Hello Python', True, 3.14, 3, 2023, 'Hello World', 'Jasmeen'}

# discard() function

 * It leaves the set unchanged if the element to be deleted is not available.

In [24]:
set3.discard(3.14)
print(set3)

{False, 'Hello Python', True, 3, 2023, 'Hello World', 'Jasmeen'}

In [30]:
# To verify if the element is in the set.

print(1.618 in set3)
print('Jayshri' in set3)
print('Jasmeen' in set3)

False
False
True

# Logic operation in Set

In [37]:
# Take two sets

set4=set(['Hello World',3.14,1.618,'Hello Python'])
set5={3.14,2023,1.618, True, False}

set4,set5

({1.618, 3.14, 'Hello Python', 'Hello World'},
 {False, True, 1.618, 3.14, 2023})

# To find the intersect of two set using &

In [35]:
intersect=set4&set5
intersect

{1.618, 3.14}

In [38]:
# other method to find the intersction of two sets, use intersection() function.

set4.intersection(set5)

{1.618, 3.14}

# difference() function.

 * To find the difference between two sets.

In [41]:
print(set4.difference(set5))  #(A-B)
print(set5.difference(set4))  #(B-A)



# The same process can make using subtraction operators are as follows:

print(set4-set5)
print(set5-set4)

{'Hello Python', 'Hello World'}
{False, True, 2023}
{'Hello Python', 'Hello World'}
{False, True, 2023}

# union() function

In [42]:
set4.union(set5)

{1.618, 2023, 3.14, False, 'Hello Python', 'Hello World', True}