# 9. Loops in Python

 * A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string)
 * This is less like the for keyword in ohter programming language, and works more like an iterator method as found in other  object-oriented programming languges.
 * with the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.
 * The for loops does not require an indexing variable to set beforehand.
 * with the while loop we can execute a set of statements as long as a condition is true.
 * Note: remember to increment i, or else the loop will continue forever.
 * The while loop require relevant variable to be ready, in this example we need to define an indexing variable, i which we set to 1.

# range() function

 * It is helpful to think of the range object as an ordered list.
 * To loop though a sef ot code a specified number of times, We can use the range() function.
 * The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1(by default) and ends at a specified number.

In [9]:
print(range(5))
print(range(10))

range(0, 5)
range(0, 10)

# for loop

 The for loop enables you to execute a code block multiple times.

In [10]:
years=[2001,2002,2003,2004,2005,2006,2007]


for i in years:
    print(i)

2001
2002
2003
2004
2005
2006
2007

In [11]:
for jaishri in years:
    print(jaishri)

2001
2002
2003
2004
2005
2006
2007

In [12]:
for years in years:
    print(years)

2001
2002
2003
2004
2005
2006
2007

In [15]:
for i in range(10,41):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40

In [17]:
for i in range(2,12,2):
    print(i)

2
4
6
8
10

In [20]:
for i in range(0,101,5):
    print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [51]:
language=['Java','JavaScript','Python','Ruby on Rails']

for i in range(len(language)):
    print(language[i])

Java
JavaScript
Python
Ruby on Rails

In [52]:
for i in language:
    print(i)

Java
JavaScript
Python
Ruby on Rails

In [53]:
language=['Java','JavaScript','Python','Ruby on Rails']

for i in range(len(language)):
    print('Before language:',i,language[i])
    language[i]='C++'
    print('After lanuage:',i,language[i])

Before language: 0 Java
After lanuage: 0 C++
Before language: 1 JavaScript
After lanuage: 1 C++
Before language: 2 Python
After lanuage: 2 C++
Before language: 3 Ruby on Rails
After lanuage: 3 C++

In [55]:
# Enumeration of the element is the list.
language=['Java','JavaScript','Python','Ruby on Rails']
for index, language in enumerate(language):
    print(index, language)

0 Java
1 JavaScript
2 Python
3 Ruby on Rails

In [56]:
for i in range(-3,10):
    print(i)

-3
-2
-1
0
1
2
3
4
5
6
7
8
9

In [64]:
number=int(input('Enter any number: '))

print(f'The enetered number is {number}.')

for i in range(1,11):
    print('%d x %d = %d'%(number,i,number*i))

Enter any number: 5
The enetered number is 5.
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [69]:
number=int(input('Enter any number: '))
number2=int(input('Enter second number: '))

print(f'The enetered number is {number} and {number2}.')

for i in range(1,11):
    print(('%d x %d = %d'%(number,i,number*i)),',',('%d x %d = %d'%(number2,i,number2*i)))

Enter any number: 5
Enter second number: 6
The enetered number is 5 and 6.
5 x 1 = 5 , 6 x 1 = 6
5 x 2 = 10 , 6 x 2 = 12
5 x 3 = 15 , 6 x 3 = 18
5 x 4 = 20 , 6 x 4 = 24
5 x 5 = 25 , 6 x 5 = 30
5 x 6 = 30 , 6 x 6 = 36
5 x 7 = 35 , 6 x 7 = 42
5 x 8 = 40 , 6 x 8 = 48
5 x 9 = 45 , 6 x 9 = 54
5 x 10 = 50 , 6 x 10 = 60