# 9. Loops in Python

 * A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string)
 * This is less like the for keyword in ohter programming language, and works more like an iterator method as found in other  object-oriented programming languges.
 * with the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.
 * The for loops does not require an indexing variable to set beforehand.
 * with the while loop we can execute a set of statements as long as a condition is true.
 * Note: remember to increment i, or else the loop will continue forever.
 * The while loop require relevant variable to be ready, in this example we need to define an indexing variable, i which we set to 1.

# range() function

 * It is helpful to think of the range object as an ordered list.
 * To loop though a sef ot code a specified number of times, We can use the range() function.
 * The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1(by default) and ends at a specified number.

In [9]:
print(range(5))
print(range(10))

range(0, 5)
range(0, 10)

# for loop

 The for loop enables you to execute a code block multiple times.

In [10]:
years=[2001,2002,2003,2004,2005,2006,2007]


for i in years:
    print(i)

2001
2002
2003
2004
2005
2006
2007

In [11]:
for jaishri in years:
    print(jaishri)

2001
2002
2003
2004
2005
2006
2007

In [12]:
for years in years:
    print(years)

2001
2002
2003
2004
2005
2006
2007

In [15]:
for i in range(10,41):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40

In [17]:
for i in range(2,12,2):
    print(i)

2
4
6
8
10

In [20]:
for i in range(0,101,5):
    print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [51]:
language=['Java','JavaScript','Python','Ruby on Rails']

for i in range(len(language)):
    print(language[i])

Java
JavaScript
Python
Ruby on Rails

In [52]:
for i in language:
    print(i)

Java
JavaScript
Python
Ruby on Rails

In [53]:
language=['Java','JavaScript','Python','Ruby on Rails']

for i in range(len(language)):
    print('Before language:',i,language[i])
    language[i]='C++'
    print('After lanuage:',i,language[i])

Before language: 0 Java
After lanuage: 0 C++
Before language: 1 JavaScript
After lanuage: 1 C++
Before language: 2 Python
After lanuage: 2 C++
Before language: 3 Ruby on Rails
After lanuage: 3 C++

In [55]:
# Enumeration of the element is the list.
language=['Java','JavaScript','Python','Ruby on Rails']
for index, language in enumerate(language):
    print(index, language)

0 Java
1 JavaScript
2 Python
3 Ruby on Rails

In [56]:
for i in range(-3,10):
    print(i)

-3
-2
-1
0
1
2
3
4
5
6
7
8
9

In [64]:
number=int(input('Enter any number: '))

print(f'The enetered number is {number}.')

for i in range(1,11):
    print('%d x %d = %d'%(number,i,number*i))

Enter any number: 5
The enetered number is 5.
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [69]:
number=int(input('Enter any number: '))
number2=int(input('Enter second number: '))

print(f'The enetered number is {number} and {number2}.')

for i in range(1,11):
    print(('%d x %d = %d'%(number,i,number*i)),',',('%d x %d = %d'%(number2,i,number2*i)))

Enter any number: 5
Enter second number: 6
The enetered number is 5 and 6.
5 x 1 = 5 , 6 x 1 = 6
5 x 2 = 10 , 6 x 2 = 12
5 x 3 = 15 , 6 x 3 = 18
5 x 4 = 20 , 6 x 4 = 24
5 x 5 = 25 , 6 x 5 = 30
5 x 6 = 30 , 6 x 6 = 36
5 x 7 = 35 , 6 x 7 = 42
5 x 8 = 40 , 6 x 8 = 48
5 x 9 = 45 , 6 x 9 = 54
5 x 10 = 50 , 6 x 10 = 60

In [1]:
num1=int(input('Enter your number:'))
num2=int(input('Enter your number:'))
num3=int(input('Enter your number:'))
num4=int(input('Enter your number:'))
num5=int(input('Enter your number:'))
num5=int(input('Enter your number:'))
num6=int(input('Enter your number:'))
num7=int(input('Enter your number:'))
num8=int(input('Enter your number:'))
num9=int(input('Enter your number:'))
print(num1)
print(num2)
print(num3)
print(num4)
print(num5)
print(num6)
print(num7)
print(num8)
print(num9)

for i in range(1,11):
    print(('%d X %d= %d'%(num1,i,num1*i))  ,',',('%d X %d= %d'%(num2,i,num2*i))  ,',',('%d X %d= %d'%(num3,i,num3*i))  ,',',('%d X %d= %d'%(num4,i,num4*i))  ,',',('%d X %d= %d'%(num5,i,num5*i))  ,',',('%d X %d= %d'%(num6,i,num6*i))  ,',',('%d X %d= %d'%(num7,i,num7*i))  ,',',('%d X %d= %d'%(num8,i,num8*i))  ,',',('%d X %d= %d'%(num9,i,num9*i)))

Enter your number:4
Enter your number:5
Enter your number:6
Enter your number:7
Enter your number:8
Enter your number:9
Enter your number:10
Enter your number:11
Enter your number:12
Enter your number:13
4
5
6
7
9
10
11
12
13
4 X 1= 4 , 5 X 1= 5 , 6 X 1= 6 , 7 X 1= 7 , 9 X 1= 9 , 10 X 1= 10 , 11 X 1= 11 , 12 X 1= 12 , 13 X 1= 13
4 X 2= 8 , 5 X 2= 10 , 6 X 2= 12 , 7 X 2= 14 , 9 X 2= 18 , 10 X 2= 20 , 11 X 2= 22 , 12 X 2= 24 , 13 X 2= 26
4 X 3= 12 , 5 X 3= 15 , 6 X 3= 18 , 7 X 3= 21 , 9 X 3= 27 , 10 X 3= 30 , 11 X 3= 33 , 12 X 3= 36 , 13 X 3= 39
4 X 4= 16 , 5 X 4= 20 , 6 X 4= 24 , 7 X 4= 28 , 9 X 4= 36 , 10 X 4= 40 , 11 X 4= 44 , 12 X 4= 48 , 13 X 4= 52
4 X 5= 20 , 5 X 5= 25 , 6 X 5= 30 , 7 X 5= 35 , 9 X 5= 45 , 10 X 5= 50 , 11 X 5= 55 , 12 X 5= 60 , 13 X 5= 65
4 X 6= 24 , 5 X 6= 30 , 6 X 6= 36 , 7 X 6= 42 , 9 X 6= 54 , 10 X 6= 60 , 11 X 6= 66 , 12 X 6= 72 , 13 X 6= 78
4 X 7= 28 , 5 X 7= 35 , 6 X 7= 42 , 7 X 7= 49 , 9 X 7= 63 , 10 X 7= 70 , 11 X 7= 77 , 12 X 7= 84 , 13 X 7= 91
4 X 8= 32 , 5 X 8= 40 , 6 X 8= 48 , 7 X 8= 56 , 9 X 8= 72 , 10 X 8= 80 , 11 X 8= 88 , 12 X 8= 96 , 13 X 8= 104
4 X 9= 36 , 5 X 9= 45 , 6 X 9= 54 , 7 X 9= 63 , 9 X 9= 81 , 10 X 9= 90 , 11 X 9= 99 , 12 X 9= 108 , 13 X 9= 117
4 X 10= 40 , 5 X 10= 50 , 6 X 10= 60 , 7 X 10= 70 , 9 X 10= 90 , 10 X 10= 100 , 11 X 10= 110 , 12 X 10= 120 , 13 X 10= 130

# break in for loop

In [3]:
# Take a list.


x = [1,2,3,4,5,6,7,8,9,10,11,12]
for i in x:
    if i==9:
        break
    print(i)

    ''' 
    You see that the output includes the numbers before 8.
    The break function terminate the loop when it meets with reference.
    '''

1
2
3
4
5
6
7
8

In [4]:
for i in x:
    if i == 11:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10

# continue in for loop

In [7]:
x1=[1,2,3,4,5,6,7,8,9,10,11,12]

for i in x1:
    if i==5:
        continue
    print(i)
    
    
    '''
    You see that the output inludes the numbers without 5.
    The continue function jumps when it meets with the reference.
    '''

1
2
3
4
6
7
8
9
10
11
12

# While loop

 * The while loop exists as a tool for repeated execution based on a condition. The code block will keep
 being executed until the given logical condition returns a False boolean value.

In [8]:
# Take an example

i = 20

while i<27:
    print(i)
    i+=1    #Iteration value.

20
21
22
23
24
25
26

In [9]:
# Second Example

i = 22

while i>=17:
    print(i)
    i-=1

22
21
20
19
18
17

In [23]:
# Printing the movie rating greater then 6.
movie_rating=[8.0,7.0,6.5,2.4,4.6,9.0,8.5,4.3,2.3]


index=0
rating=movie_rating[0]

while rating>=6:
    print(rating)
    index+=1
    rating=movie_rating[index]
    print(index)

8.0
1
7.0
2
6.5
3

In [26]:
number=int(input('Enter any number: '))

print(f'The entered number are {number}')

i=1
while i<=10:
    print('%d x %d = %d'%(number,i,number*i))
    i+=1

Enter any number: 8
The entered number are 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [28]:
# 0,1,2,3,4,5,6,7,8,9,10
i=0
 
while i<11:
    print(i)
    i+=1
else:
    print('It gives us the number between 0 to 10')

0
1
2
3
4
5
6
7
8
9
10
It gives us the number between 0 to 10

In [29]:
i = 0

while i<=5:
    print(i)
    i+=1
    if i==3:
        break

0
1
2

In [30]:
i = 0

while i<=5:
    print(i)
    i+=1
    if i==3:
        continue

0
1
2
3
4
5

In [31]:
# Example: Write a program to print all the even numbers within the given range 20.
i=0
while i<22:
    
    print(i)
    i+=2

0
2
4
6
8
10
12
14
16
18
20

In [33]:
# Other method

given_number=22


for i in range(0,given_number):
    
    if i%2==0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

In [34]:
# print odd number

number=22

for i in range(0,22):

    if i%3==0:
        print(i)

0
3
6
9
12
15
18
21

In [35]:
i=0

while i<22:
    print(i)
    i+=3

0
3
6
9
12
15
18
21

In [43]:
# Write a program to calculate the sum of all the numbers from 1 to given number 30.


given_number=30

sum=0

for i in range(1,given_number+1):
    sum+=i
    
print(sum)

465

In [2]:
# Write a program to print all the odd numbers between 30.
i=0
while i<33:
    print(i)
    i+=3

0
3
6
9
12
15
18
21
24
27
30

In [4]:
num=30
for i in range(0,33):

    if i%3!=0:
        print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32